<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Competitions" %>

  <h3>

    <strong>Search parameters </strong>

    <%if @search != nil and @search != ""%>
      <br>
      Text search: <%= @search %>
    <%end%>

  <%if @age != nil and @age.to_i > 0%>
      <br>
      Age: <%= @age %>
    <%end%>

    <% tags = @tags %>
    <%if tags != [""] and tags != nil and tags != []%>
    
      <% temp = [] %>
      <% tags.each do |tag|%> 
        <%temp << CompetitionTag.find_by(id: tag)%>
      <%end%>
      <br>
      Tags:
      <%temp.each do |tag| %>
          <tr>
            <td><%= link_to tag.tag, search_competitions_path(tags: [tag]), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" if tag != nil%>
            </td>
          </tr>
        <% end %>
    <%end%>

  </h3>

  <%= form_with method: :get do |form|%>
    <%# form.label :query, "Search for:"%>
    <%# form.text_field :query%>

  <div class="my-5">
    <%= form.label "Text search" %>
    <%= form.text_field :query, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :age %>
    <%= form.number_field :age, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :tags %>
    <%= form.collection_select :tags, CompetitionTag.all, :id, :tag, {multiple: true}, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>

  </div>

    <div class="inline">
    <%= form.submit "Search", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  
  </div>
  <% end %>

  <div class="flex justify-between items-center mt-5">
    <h1 class="font-bold text-4xl">Competitions</h1>
    <%= link_to "New competition", new_competition_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    
  </div>

  <div id="competitions" class="min-w-full mb-5">
    <% @competitions.each do |competition| %>
      <%= render competition %>
      <p>
        <%= link_to "Show this competition", competition, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
    <%if @competitions.empty?%>
      No results
    <%end%>
  </div>
  <%#@age%>
</div>
